@import "../../scss/variables";
@import "../../scss//Fonts.scss";

.search-panel__ {
  &wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 44px;
    border-radius: 5px;
  }

  &btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 12px 27px;
    border-radius: 6px;
    margin-left: 18px;
    color: $login-button-text-color;
    background-color: $light-green;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.input-panel__ {
  &wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid $reg-border-gray;
    border-radius: 8px;
  }
}