Roboto.zip
sfdriveeducation@gmail.com.txt

**/.vscode

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

**/node_modules
**/dist
**/test
SkillDrive/BackEnd/server-nestjs/files/

pass.ts
Main (adaptive).png
*.fig
SkillDrive/MongoDataBase/
SkillDrive/cars.json
SkillDrive/file.json
SkillDrive/towns.json
SkillDrive/user.json
