Roboto.zip
sfdriveeducation@gmail.com.txt

**/.vscode

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

**/node_modules
**/dist
**/test
**/files

pass.ts
Main (adaptive).png
