// Imports
@import "../../scss/Variables.scss";
@import "../../scss/Fonts.scss";

/* Main section. Registration form. Step 3 */

#input-files {
  display: none;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $reg-black-label-text;

  &__title {
    font-size: 64px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 27px;
  }

  &__description {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    max-width: 750px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    border-top: 1px solid #DEE2E4;
  }

  &__submit {
    margin-top: 17px;
    margin-bottom: 17px;
    background-color: $reg-footer-button-color-disabled;
    color: $reg-footer-button-text-disabled;
    padding: 16px 40px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;

    &.is-active {
      background-color: $reg-footer-button-color;
      color: $reg-footer-button-text;

      &:hover {
        background-color: $reg-fotter-button-color-hover;
      }
    }

    .is-waiting::before {
      display: inline-block;
      font-family: 'SFDrive-Common';
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\0044";

      animation: rotation 2s infinite linear;
    }

    @keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }

  &__thumbnails {
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 73px;
  }
}

.drop-zone__ {
  &wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &wrapper_small {
    margin-bottom: 30px;
  }

  &body {
    position: absolute;
    justify-content: center;
  }

  &icon {
    display: flex;
    justify-content: center;
  }

  &description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &text {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: $reg-black-label-text;

    span {
      color: $reg-file-upload-link;
      cursor: pointer;
    }
  }

  &reminder {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $reg-file-upload-hint;
  }

}

.add-zone__ {
  &wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $reg-file-upload-border-grey;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-plus {
      font-size: 24px;
      color: $light-green;
      font-style: normal;
    }
  }

  &description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
  }

  &text {
    margin: 0;
    margin-bottom: 5px;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: $reg-file-upload-link;
      cursor: pointer;
    }
  }

  &reminder {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $reg-file-upload-hint;
  }

}

/* Main section. Registration form. Step 3. Adaptive */

@media screen and (max-width: 768px) {
  .step {

    &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 0;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      min-width: 300px;
      max-width: 85%;
      margin-bottom: 46px;
    }

    &__thumbnails {
      align-self: flex-start;
      margin-bottom: 50px;
      padding-left: 20px;
    }
  }
}