@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto-Regular;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-logo {
  margin: 31px 40px;
  align-items: center;
}
.menu-logo svg {
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-logo svg:hover {
  fill: #61A199;
}
.menu-logo svg:hover path {
  fill: #61A199;
}
.menu-logo svg:hover rect {
  fill: #61A199;
}

.menu-right {
  margin: 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-right__compact {
  display: none;
}
.menu-right__nav {
  display: flex;
  flex-direction: row;
}
.menu-right__nav div {
  padding: 15px;
}
.menu-right__nav a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s ease;
  cursor: pointer;
}
.menu-right__nav a:hover {
  filter: drop-shadow(0 0 5px #61A199);
}
.menu-right__button {
  margin-left: 20px;
  margin-right: 30px;
  width: 106px;
  height: 43px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.menu-right__button:hover {
  background-color: #61A199;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .menu-right {
    display: none;
  }
  .menu-right__compact {
    display: inline;
    margin: 22px 20px;
  }
  .menu-right__compact:hover {
    filter: drop-shadow(0 0 5px #61A199);
  }

  .menu-logo {
    margin: 20px 20px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F3D56;
  padding: 46px 35px;
}

.footer__item-left {
  font-size: 16px;
  color: #828282;
}
.footer__item-right a {
  cursor: pointer;
  margin: 0px 8px 0px 0px;
}
.footer__item-right img {
  transition: all 0.3s ease;
}
.footer__item-right img:hover {
  filter: drop-shadow(0 0 2px #ffffff);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 20px;
  }

  .footer__item-right {
    margin-top: 14px;
  }
  .footer__item-right a {
    margin: 0px 10px 0px 0px;
  }
}
.about-us {
  text-align: center;
  margin: 76px auto 76px;
}
.about-us figure {
  margin: 0px;
}
.about-us__text {
  margin: 56px auto;
}
.about-us__text h1 {
  font-family: Roboto-Bold;
  font-size: 64px;
  margin-bottom: 33px;
}
.about-us__text p {
  max-width: 925px;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .about-us {
    width: 89%;
    margin: 35px auto;
  }
  .about-us__text {
    margin: 37px auto;
  }
  .about-us__text h1 {
    font-family: Roboto-Medium;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
  }
  .about-us__text p {
    font-size: 16px;
    line-height: 24px;
    width: fit-content;
  }
  .about-us img {
    width: 267px;
    height: 202px;
  }
}
.about-contacts {
  text-align: center;
  background-color: #F7F9FB;
  height: 341px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about-contacts h2 {
  font-family: Roboto-Medium;
  font-weight: 500;
  font-size: 48px;
  margin: -10px 0 25px;
}
.about-contacts__block {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.about-contacts__block-info {
  margin: 0px;
  padding: 0 68px 0;
  width: 264px;
}
.about-contacts__block-info:nth-child(1) {
  border-right: 1px solid #C8C8CF;
}
.about-contacts__block-info_descr {
  font-size: 14px;
  line-height: 21px;
  color: #4F4F4F;
  min-width: 0px;
  word-wrap: break-word;
}
.about-contacts__block-info_data {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.about-contacts__block-info_data:hover {
  filter: drop-shadow(0 0 5px #61A199);
}

@media screen and (max-width: 768px) {
  .about-contacts {
    height: 237px;
  }
  .about-contacts__block {
    display: inline;
  }
  .about-contacts__block img {
    display: none;
  }
  .about-contacts__block-info {
    margin: 20px auto 0px;
  }
  .about-contacts__block-info_descr {
    font-size: 12px;
  }
  .about-contacts__block-info_data {
    font-size: 14px;
  }
  .about-contacts h2 {
    margin: 8px auto 10px;
    font-size: 24px;
  }
}
.about-team {
  margin: 85px auto 93px;
  text-align: center;
}
.about-team h2 {
  font-family: Roboto-Medium;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 32px;
}
.about-team__all {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
}
.about-team__all figure {
  margin: 25px 40px 25px 40px;
}
.about-team__all_name {
  margin: 20px auto 13px;
  font-size: 20px;
  color: #000000;
}
.about-team__all_ocupation {
  margin: 8px;
  font-size: 14px;
  color: #828282;
}

@media screen and (max-width: 768px) {
  .about-team {
    margin: 41px auto 72px;
  }
  .about-team h2 {
    margin-bottom: -20px;
    font-size: 24px;
  }
  .about-team__all figure, .about-team__all figcaption {
    margin: 0px;
  }
  .about-team__all img {
    transform: scale(0.44);
    margin: auto;
  }
  .about-team__all_name {
    font-size: 16px;
    margin: -35px auto 15px;
  }
  .about-team__all_ocupation {
    font-size: 12px;
    margin: -13px auto;
  }
}

/*# sourceMappingURL=about.css.map */
