@import "variables";

/* Header section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-logo {
    margin: 31px 40px;
    align-items: center;

    svg {
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            fill: $light-green;
            
            path {
                fill: $light-green;
            }
            rect {
                fill: $light-green;
            }
        }
    }
}

.menu-right {
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__compact {
        display: none;
    }

    &__nav {
        display: flex;
        flex-direction: row;

        div {
            padding: 15px;
        }

        a {
            font-size: 16px;
            text-decoration: none;
            color: $link-color;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover {
                filter: drop-shadow(0 0 5px $light-green);
            }
        }
    }

    &__button {
        margin-left: 20px;
        margin-right: 30px;
        width: 106px;
        height: 43px;
        border: 1px solid $button-border;
        border-radius: 6px;
        background-color: $button-background;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: $light-green;
            color: $button-background;
        }    
    }
}
/* Header section adaptive */
@media screen and (max-width: $breakpoint-mobile) {
    .menu-right {
        display: none;

        &__compact {
            display: inline;
            margin: 22px 20px;

            &:hover {
                filter: drop-shadow(0 0 5px $light-green);
            }
        }
    }
    .menu-logo {
        margin: 20px 20px;
    }
}