// Breakpoints
$breakpoint-mobile: 768px;

// Colors
$light-green: #61A199;
$light-grey: #F7F9FB;

$link-color: #000000;
$button-border: #1b1b1b66;
$button-background: #ffffff;

$contact-border: #C8C8CF;
$contact-description: #4F4F4F;
$contact-data: #000000;

$team-name: #000000;
$team-ocupation: #828282;

$footer-background: #3F3D56;
$footer-copy: #828282;
$footer-shadow: #ffffff;

$reg-grey-text: rgba(130, 130, 130, 1);
$reg-black-label-text: #1b1b1b;
$reg-border-gray: #e0e0e0;
$reg-footer-background: rgba(255, 255, 255, 1);
$reg-footer-button-color: rgba(230, 230, 230, 1);
$reg-footer-button-text: rgba(180, 181, 189, 1);

