// Breakpoints
$breakpoint-mobile: 768px;

// Colors
$light-green: #61A199;
$light-grey: #F7F9FB;

$link-color: #000000;
$button-border: rgba(27, 27, 27, 0.4);
$button-background: #ffffff;

$contact-border: #C8C8CF;
$contact-description: #4F4F4F;
$contact-data: #000000;

$team-name: #000000;
$team-ocupation: #828282;

$footer-background: #3F3D56;
$footer-copy: #828282;
$footer-shadow: #ffffff;