// Imports
@import "fonts";
@import "variables";
@import "header";
@import "footer";

/* Main section. About-us. */
.about-us {
    text-align: center;
    margin: 76px auto 76px;

    figure {
        margin: 0px;
    }

    &__text {
        margin: 56px auto;
        
        h1 {
            font-family: Roboto-Bold;
            font-size: 64px;
            margin-bottom: 33px;
        }
        p {
            max-width: 925px;
            font-weight: normal;
            font-size: 24px;
            line-height: 35px;
            margin: auto;
        }
    }
}

/* Main section. About-us. Adaptive */
@media screen and (max-width: $breakpoint-mobile) {
    .about-us {
        width: 89%;
        margin: 35px auto;

        &__text {
            margin: 37px auto;

            h1 {
                font-family: Roboto-Medium;
                font-weight: 500;
                font-size: 32px;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                width: fit-content;
            }
        }

        img {
            width: 267px;
            height: 202px;
        }
    }
}
/* Main section. Contacts. */

.about-contacts {

    text-align: center;
    background-color: $light-grey;
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        font-family: Roboto-Medium;
        font-weight: 500;
        font-size: 48px;
        margin: -10px 0 25px;
    }

    &__block {
        display: flex;
        justify-content: center;
        margin: 0px auto;

        &-info {
            margin: 0px;
            padding: 0 68px 0;
            width: 264px;

            &:nth-child(1) {
                border-right: 1px solid $contact-border;
            }

            &_descr {
                font-size: 14px;
                line-height: 21px;
                color: $contact-description;
                min-width: 0px;
                word-wrap: break-word;
            }

            &_data {
                font-size: 20px;
                color: $contact-data;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    filter: drop-shadow(0 0 5px $light-green);
                }
            }
        }
    }
}

/* Main section. Contacts. Adaptive */

@media screen and (max-width: $breakpoint-mobile) {
    .about-contacts {
        height: 237px;

        &__block {
            display: inline;

            img {
                display: none;
            }

            &-info {
                margin: 20px auto 0px;

                &_descr {
                    font-size: 12px;
                }

                &_data {
                    font-size: 14px;
                }
            }
        }

        h2 {
            margin: 8px auto 10px;
            font-size: 24px;
        }
    }
}

/* Main section. About-team. */

.about-team {
    margin: 85px auto 93px;
    text-align: center;

    h2 {
        font-family: Roboto-Medium;
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 32px;
    }

    &__all {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1100px;

        figure {
            margin: 25px 40px 25px 40px;
        }

        &_name {
            margin: 20px auto 13px;
            font-size: 20px;
            color: $team-name;
        }

        &_ocupation {
            margin: 8px;
            font-size: 14px;
            color: $team-ocupation;
        }
    }

}

/* Main section. About-team. Adaptive */
@media screen and (max-width: $breakpoint-mobile) {
    .about-team {
        margin: 41px auto 72px;

        h2 {
            margin-bottom: -20px;
            font-size: 24px;
        }

        &__all {
            figure, figcaption {
                margin: 0px;
            }
            
            img {
                transform: scale(0.44);
                margin: auto;
            }

            &_name {
                font-size: 16px;
                margin: -35px auto 15px;
            }

            &_ocupation {
                font-size: 12px;
                margin: -13px auto;
            }

        }        
    }
}