/* Fonts */
@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

body {
    font-family: Roboto-Regular;
    margin: 0px;
}


// Imports
@import "variables";
@import "header";
@import "footer";

/* Main section. Intro. */
.faq-logo {
    text-align: center;
    margin: 76px auto 0px;

    figure {
        margin: 0px;
    }

    &__text {
        margin: 56px auto;

        h1 {
            font-family: Roboto-Bold;
            font-size: 64px;
            margin-bottom: 33px;
        }

        p {
            max-width: 925px;
            font-weight: normal;
            font-size: 24px;
            line-height: 35px;
            margin: auto;
        }
    }
}
/* Main section. Into. adaptive. */
@media screen and (max-width: 768px) {
    .faq-logo {
        width: 89%;
        margin: 35px auto 20px;

        &__text {
            margin: 37px auto 0px;

            h1 {
                font-size: 32px;
                margin-bottom: 10px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                width: fit-content;
            }
        }

        img {
            width: 267px;
            height: 202px;
        }
    }
}
/* Main section. Q&A. */
.quest-and-ans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 105px;

    &__button {
        /* position: relative; */
        /* left: 50%; */
        /* transform: translate(-50%, 0); */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 15px;
        padding: 19px 22px;
        width: 71%;
        height: 66px;
        background: #F7F7F8;
        border-radius: 6px;
        border: none;
        font-size: 20px;
        line-height: 29px;
        text-align: left;

        &:hover {
            background: rgba(97, 161, 153, 0.1);
        }

        &.active {
            background: rgba(97, 161, 153, 0.15);
            font-family: Roboto-Medium;
            color: rgba(97, 161, 153, 1);

            & + div {
                margin: 5px 0 40px;
            }
        }
    }

    &__answ {
        /* display: none; */
        /* max-height: 0px; */
        width: 68%;
        /* padding: 5px 0px 40px; */
        /* margin: 5px 0px 40px; */
        font-size: 20px;
        line-height: 28px;
        overflow: hidden;
        transition: max-height 0.1s ease-out;
    }
}

.arrow_up {
    display: none;

    &.active {
        display: block;
    }
}
.arrow_down {
    display: none;

    &.active {
        display: block;
    }
}

/* Main section. Q&A. Adaptive. */

@media screen and (max-width: 768px) {
    .quest-and-ans {
        margin-bottom: 30px;

        &__button {
            width: 89%;
            margin: 0px 0px 10px;
            padding: 19px 19px;
            font-size: 14px;
            line-height: 21px;

            img {
                transform: scale(0.81);
                margin: 0px -5px;
            }
        }

        &__answ {
            font-size: 14px;
            line-height: 21px;
            width: 76%;
            margin: 5px 0px 35px;
        }
    }
}