// Imports
@import "../../scss/Fonts.scss";
@import "../../scss/Variables.scss";

// Login window.

.login-window {
    &__fade {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $login-window-fade-color;
        z-index: 100;
    
        &.active {
            display: flex;
        }
    }
    &__wrapper {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 504px;
        padding: 25px;
        background-color: $login-windwow-background-color;
        border-radius: 10px;
        
        &.active {
            display: flex;
            z-index: 101;
        }

        a {
            &:hover {
                filter: drop-shadow(0 0 5px $light-green);
            }
        }
    }

    &__close {
        align-self: flex-end;
    }
    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            margin-top: 38px;
            margin-bottom: 40px;
        }
    }
    &__error {
        display: none;
        color: $login-window-error;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

        &.active {
            display: block;
        }
    }
    &__link-to-reset {
        position: relative;
        top: 33px;
        left: 280px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $login-window-link;
        text-decoration: none;
        z-index: 3;
    }
    &__form {
        &-wrapper {
            .block-input__wrapper {
                width: 325px;
                height: 44px;
                border: solid 1px $reg-border-gray;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                padding: 0px 12px;
                margin-bottom: 10px;

                label {
                    position: relative;
                    top: 14px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    color: $login-input-description-text;
                    z-index: 2;

                    &.changed {
                        font-size: 9px;
                        font-weight: 400;
                        line-height: 11px;
                        top: 7px;
                        margin-bottom: 10px;   
                    }

                    &.error {
                        color: $login-window-error;
                    }
                }
                input {
                    border: none;
                    padding: 0px;
                    color: $login-input-text;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    position: relative;
                    top: -1px;

                    &:focus {
                        outline: none;
                    }                  
                }

                &.error {
                    border: solid 2px $login-window-error;
                }

            }

            .login-button__wrapper {
                display: flex;
                justify-content: center;
                border-bottom: 1px $login-window-border solid;
                margin-top: 25px;
                padding-bottom: 40px;

                button {
                    width: 126px;
                    height: 51px;
                    background-color: $login-button-color;
                    border-radius: 6px;
                    border: none;
                    color: $login-button-text-color;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;

                    &:hover {
                        background-color: $reg-fotter-button-color-hover;
                    }

                    &:disabled {
                        background-color: $login-button-color-disabled;
                        color: $login-button-text-color-disabled
                    }

                    .is-waiting::before {
                        display: inline-block;
                        font-family: 'SFDrive-Common';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content:"\0044";
            
                        animation: rotation 2s infinite linear;
                    }
            
                    @keyframes rotation {
                        from {
                            -webkit-transform: rotate(0deg);
                        }
                        to {
                            -webkit-transform: rotate(359deg);
                        }
                    }
                }
            }
        }
    }
    &__link-to-reg {
        margin-top: 30px;
        a {
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: $login-window-link;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {

    .login-window {
        &__fade {
            height: 667px; //temp, just for testing on PC
        
        }
        &__wrapper {
            width: 100%;
            height: 100%;
            border-radius: 0px;
            padding: 0px;
            justify-content: flex-start;
            
        }
    
        &__close {
            padding: 20px;
        }
        &__description {
            margin-bottom: 29px;
            img {
                transform: scale(0.72);
            }
            h1 {
                font-size: 28px;
                font-weight: 500;
                line-height: 34px;
                margin-top: 22px;
                margin-bottom: 0px;
            }
            p {
                margin-top: 10px;
            }
        }
        &__form {
            &-wrapper {
                .block-input__wrapper {
                    margin-bottom: 0px;
                    input {
                        width: 325px;
                        height: 44px;
    
                    }
    
                    a {
                        left: 280px;
                    }
                }
    
                .login-button__wrapper {
                    margin-top: 27px;
                    padding-bottom: 38px;
    
                    button {
                        width: 335px;
                        height: 51px;
    
                    }
                }
            }
        }
        &__link {
            margin-top: 28px;
        }
    }
}