/* Fonts */
@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'SFDrive-Common';
    src: url('../fonts/sfdrive-common.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfdrive additional_01';
    src: url('../fonts/sfdrive-additional_01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Roboto-Regular;
    margin: 0px;
}