/* Fonts */
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light-300.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular-400.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium-500.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold-700.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFDrive-Common';
    src: url('../fonts/sfdrive-common.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfdrive additional_01';
    src: url('../fonts/sfdrive-additional_01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto";
    margin: 0px;
}