// Breakpoints
$breakpoint-mobile: 768px;

// Colors
$light-green: #61A199;
$light-grey: #F7F9FB;

$link-color: #000000;
$button-border: #1b1b1b66;
$button-background: transparent;

$contact-border: #C8C8CF;
$contact-description: #4F4F4F;
$contact-data: #000000;

$team-name: #000000;
$team-ocupation: #828282;

$footer-background: #3F3D56;
$footer-copy: #828282;
$footer-shadow: #ffffff;

$menu-compact-background-color: rgba(255, 255, 255, 0.95);
$menu-compact-line-color: rgba(220, 224, 237, 1);
$menu-compact-link-color: rgba(27, 27, 27, 1);

$reg-grey-text: rgba(130, 130, 130, 1);
$reg-black-label-text: #1b1b1b;
$reg-border-gray: #e0e0e0;
$reg-footer-background: rgba(255, 255, 255, 1);
$reg-footer-button-color-disabled: rgba(230, 230, 230, 1);
$reg-footer-button-text-disabled: rgb(180, 181, 189);
$reg-footer-button-color: rgba(97, 161, 153, 1);
$reg-fotter-button-color-hover: rgb(75, 138, 130);
$reg-footer-button-text: rgba(255, 255, 255, 1);
$reg-footer-error-text: rgba(255, 255, 255, 1);
$reg-form-error-color: rgba(235, 87, 87, 1);
$reg-camera-background-grey: #F7F7F8;
$reg-camera-color-green: #61A199;
$reg-camera-window-width: 430px;
$reg-camera-window-height: 320px;
$reg-file-upload-link: #508E87;
$reg-file-upload-hint: #828282;

$login-window-fade-color: rgba(0,0,0,.5);
$login-windwow-background-color: #ffffff;
$login-input-description-text: rgba(163, 160, 177, 1);
$login-input-text:rgba(27, 27, 27, 1);
$login-button-color: rgba(97, 161, 153, 1);
$login-button-text-color: rgba(255, 255, 255, 1);
$login-window-border: rgba(222, 219, 241, 1);
$login-window-link: rgba(80, 142, 135, 1);
$login-button-color-disabled: rgba(230, 230, 230, 1);
$login-button-text-color-disabled: rgba(180, 181, 189, 1);
$login-window-error: rgba(235, 87, 87, 1);

$main-button-border: rgba(97, 161, 153, 1);
$main-button-color: rgba(97, 161, 153, 1);
$main-button-color-hover: rgb(75, 138, 130);
$main-button-text: rgba(255, 255, 255, 1);