// Imports
@import "../../scss/Fonts.scss";

$circle-width: 48px;
$circle-heigth: 48px;
$white-pad-thikness: 6px;
$circle-close-cross-width: 16px;

$circle-width-mobile: 32px;
$circle-heigth-mobile: 32px;
$white-pad-thikness-mobile: 5px;
$circle-close-cross-width-mobile: 12px;

.circle-progress-bar__out-wrapper {
  position: absolute;
}

.circle-progress-bar__inner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: $circle-width;
  height: $circle-heigth;
  background-color: rgba(0, 0, 0, 0.5);
}

.circle-progress-bar__canvas {
  border-radius: 50%;
  width: $circle-width;
  height: $circle-heigth;
  z-index: 9;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'SFDrive-Common';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-cross:before {
  content: '\0048';
  position: absolute;
  right: ($circle-width - $circle-close-cross-width) / 2;
  bottom: ($circle-heigth - $circle-close-cross-width) / 2;
  font-size: $circle-close-cross-width;
  color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  cursor: pointer;
}

.icon-refresh:before {
  content: '\0045';
  position: absolute;
  right: ($circle-width - $circle-close-cross-width) / 2;
  bottom: ($circle-heigth - $circle-close-cross-width) / 2;
  font-size: $circle-close-cross-width;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.icon-trash:before {
  content: '\004c';
  position: absolute;
  right: ($circle-width - $circle-close-cross-width) / 2;
  bottom: ($circle-heigth - $circle-close-cross-width) / 2;
  font-size: $circle-close-cross-width;
  color: white;
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .circle-progress-bar__inner-wrapper {
    width: $circle-width-mobile;
    height: $circle-heigth-mobile;
  }

  .circle-progress-bar__canvas {
    width: $circle-width-mobile;
    height: $circle-heigth-mobile;
  }

  .icon-close-cross:before {
    content: '\0048';
    right: ($circle-width-mobile - $circle-close-cross-width-mobile) / 2;
    bottom: ($circle-heigth-mobile - $circle-close-cross-width-mobile) / 2;
    font-size: $circle-close-cross-width-mobile;
  }
  
  .icon-refresh:before {
    content: '\0045';
    right: ($circle-width-mobile - $circle-close-cross-width-mobile) / 2;
    bottom: ($circle-heigth-mobile - $circle-close-cross-width-mobile) / 2;
    font-size: $circle-close-cross-width-mobile;
  }
  
  .icon-trash:before {
    content: '\004c';
    right: ($circle-width-mobile - $circle-close-cross-width-mobile) / 2;
    bottom: ($circle-heigth-mobile - $circle-close-cross-width-mobile) / 2;
    font-size: $circle-close-cross-width-mobile;
  }
}